.image {
	position: relative;
	max-width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 25px;
	}

	.loading {
		position: absolute;
	}
}
