@import "@Assets/styles/variables";

.textForm {
	.textAreaWrapper {
		width: 100%;
		position: relative;

		.textField {
			color: $not-valid;
			text-align: center;
		}

		.textArea {
			background-color: transparent;
			border-top: 1px solid $black-main;
			font-weight: 400;
			min-height: 50px;
			padding: 10px 120px 10px 10px;
			color: $light-blue;
			font-size: 1.8rem;
			display: block;
			width: 100%;
			resize: none;
			transition: all 0.3s ease-in-out;

			&::placeholder {
				color: $gray-main;
				transition: color 0.3s ease-in-out;
			}
			&:focus,
			&:hover {
				border-color: $light-blue;
				background-color: $modal-back;
				&::placeholder {
					color: $light-blue;
				}
				& ~ .btns {
					button {
						color: $light-blue;
					}
				}
			}
		}
		.emoji {
			position: absolute;
			right: 1%;
			bottom: 110%;
		}
		.btns {
			display: flex;
			align-items: center;
			position: absolute;
			right: 20px;
			bottom: 0;

			.sent,
			.smiles {
				color: $gray-main;
				background-color: transparent;
				height: 50px;
				font-size: 4rem;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: color 0.3s ease-in-out;
			}
			.smiles {
				margin-right: 20px;
			}
		}
	}
}
