@import "@Assets/styles/variables";

.left {
	background-color: $sidebar-bg;
	padding: 20px;
	border-radius: 12px;
	border: 2px solid $black-main;
	margin-right: 20px;
	width: 350px;
	.rating {
		p {
			font-size: 1.8rem;
			height: 8px;
		}
	}
	.name {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 600;
		color: $light-blue;
	}
	.nameJP {
		text-align: center;
		font-size: 1.7rem;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.age {
		font-size: 1.7rem;
		text-align: center;
	}
	.poster {
		border-radius: 10px;
		overflow: hidden;
		min-width: 300px;
		border: 2px solid $black-main;

		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	p {
		color: $white-main;
		font-weight: 400;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		span {
			color: $light-blue;
			font-weight: 600;
		}
	}

	.btnContol {
		margin: 10px 0;

		button {
			font-size: 1.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 5px 10px;
			border-radius: 7px;
			font-weight: 800;
			color: $black-main;
			background-color: $light-blue;
			position: relative;
			border: 1px solid $black-main;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $light-blue;
				background-color: $main-bg;
				border: 1px solid $light-blue;
			}
			-webkit-animation: pulse-key 1s ease-in-out infinite both;
			animation: pulse-key 1s ease-in-out infinite both;
			span {
				letter-spacing: 10px;
			}
			svg {
				position: absolute;
				right: 10px;
				font-size: 2.2rem;
				-webkit-animation: swing-key 1s ease-in-out infinite both;
				animation: swing-key 1s ease-in-out infinite both;
			}
		}
	}
}

@-webkit-keyframes swing-key {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes swing-key {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes pulse-key {
	0% {
		transform: scale(0.99);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.99);
	}
}
@keyframes pulse-key {
	0% {
		transform: scale(0.99);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.99);
	}
}
