@import "@Assets/styles/variables";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid $not-valid;
		border-radius: 10px;
		background-color: $sidebar-bg;
		img {
			object-fit: contain;
			height: 400px;
		}

		p,
		h4 {
			color: $white-main;
			font-weight: 600;
			border-radius: 5px;
			padding: 10px;
			border: 1px solid $black-main;
			background-color: $main-bg;
		}
		h4 {
			color: $not-valid;
		}
		span {
			color: $light-blue;
			font-weight: 700;
		}
	}
}
