@import "@Assets/styles/variables";

.wrapper {
	position: relative;
	max-width: 800px;
	width: 100%;
	border-radius: 12px;
	border: 2px solid $light-blue;
	background-color: $main-bg;
	max-height: 70vh;
	overflow: hidden;
	padding: 0 50px;
	overflow: auto;

	h5 {
		margin-top: 25px;
		letter-spacing: 1px;
		text-align: center;
		font-size: 2rem;
	}

	form {
		.btns {
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: flex-end;
			margin: 20px 0;
		}
	}

	@media screen and (max-width: 500px) {
		padding: 0 10px;
		overflow: auto;

		h5 {
			margin-top: 15px;
			font-size: 2rem;
		}

		form {
			div {
				font-size: 1.8rem;
				padding: 15px 0 10px;
				p {
					margin: 0;
				}
			}
			.btns {
				margin: 10px 0;
				button {
					min-width: auto;
					padding: 0 15px;
					font-size: 1.8rem;
				}
			}
		}
	}
}
