@import "@Assets/styles/variables";

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	.chatHeader {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: center;
		padding: 5px 20px;
		background-color: $modal-back;
		font-size: 1.8rem;
		color: $white-main;
		gap: 10px;

		a {
			font-size: inherit;
			color: inherit;
			font-weight: inherit;
		}

		button {
			display: none;
			color: $light-blue;
			background-color: transparent;
			font-size: inherit;
			font-weight: 600;
		}
		img {
			border-radius: 50%;
			height: 40px;
			width: 40px;
			object-fit: cover;
		}

		@media screen and (max-width: 700px) {
			flex-direction: row;
			justify-content: space-between;
			font-size: 1.6rem;
			button {
				display: block;
			}

			img {
				height: 35px;
				width: 35px;
			}
		}
	}
	@media screen and (max-width: 700px) {
		&.none {
			display: none;
		}
	}
	.chatList {
		padding-top: 10px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		li {
			align-self: flex-start;
			flex-shrink: 0;
			margin: 0 20px 20px;
			color: $light-blue;
			max-width: 30vw;
			font-weight: 400;
			font-size: 1.8rem;
			overflow: hidden;
			background-color: $sidebar-bg;
			border: 1px solid $light-blue;
			border-radius: 20px;
			padding: 10px;
			overflow: hidden;

			p {
				word-wrap: normal;
				overflow-wrap: break-word;
				white-space: pre-wrap;
			}

			@media screen and (max-width: 700px) {
				max-width: 50vw;
				margin: 0 10px 10px;
			}
			@media screen and (max-width: 400px) {
				max-width: 60vw;
				font-size: 1.7rem;
				margin: 0 5px 10px;
			}
		}
		.currUser {
			align-self: flex-end;
			background-color: $light-blue;
			border: 1px solid $light-blue;
			color: $main-bg;
			// p {

			// }
		}
		.btnMore {
			margin: 0 auto 20px;
			padding: 10px 15px;
			min-height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			font-size: 2rem;
			@media screen and (max-width: 700px) {
				font-size: 1.6rem;
				padding: 5px 10px;
			}
		}
	}

	.notSelected {
		z-index: 1;
		position: absolute;
		padding: 10px;
		border-radius: 20px;
		background-color: $gray-main;
		color: $main-bg;
		font-size: 1.8rem;
		opacity: 0.8;
		top: 10%;
		right: 50%;
		text-align: center;
		transform: translateX(50%);
		font-weight: 500;

		@media screen and (max-width: 900px) {
			font-size: 1.6rem;
		}
	}
}
