@import "@Assets/styles/variables";

.wrapper {
	padding: 0px 20px 20px;
	z-index: 10;
	position: fixed;
	right: 2%;
	bottom: 2%;
	border: 1px solid $black-main;
	border-radius: 12px;
	max-height: 66vh;
	max-width: 450px;
	width: 100%;
	height: 100%;
	background-color: $sidebar-bg;
	overflow-y: auto;
	transition: all 0.3s ease-in-out;

	.headerChat {
		padding: 10px 0;
		background-color: $sidebar-bg;
		position: sticky;
		top: 0;

		.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;

			.answerTo {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 5px;

				p {
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.6rem;
					color: $white-main;
				}
				button {
					line-height: 0;
					border: 1px solid $black-main;
					font-size: 1.8rem;
					color: $light-blue;
					background-color: $main-bg;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 5px;
					border-radius: 5px;
					font-weight: 600;
					transition: all 0.3s ease-in-out;

					svg {
						display: inline-block;
						color: $gray-main;
						margin-left: 3px;
						transition: transform 0.4s ease-in-out;
					}
					&:hover,
					&:focus {
						background-color: $light-blue;
						color: $main-bg;
						transform: scale(1.1);
						svg {
							transform: rotate(180deg);
							color: $main-bg;
						}
					}
				}
			}

			.btns {
				display: flex;
				align-items: center;
				gap: 5px;
				button {
					padding: 5px;
					border: 1px solid $black-main;
					background-color: $main-bg;
					color: $light-blue;
					border-radius: 6px;
					font-size: 2.5rem;
					line-height: 0;
					transition: all 0.3s ease-in-out;
					&:hover {
						background-color: $light-blue;
						color: $main-bg;
						transform: scale(1.03);
					}
				}
			}
		}
	}

	&.full {
		position: static;
		max-height: 99%;
		max-width: 99%;
	}
	// .chatList {}

	.loading {
		position: absolute;
	}

	.footerBtns {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
		gap: 10px;

		.Morebtn,
		.Hidebtn {
			padding: 0 5px;
			min-height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			font-size: 2.7rem;
		}

		.Hidebtn {
			position: relative;

			&::after,
			&::before {
				content: "";
				position: absolute;
				transform: rotate(35deg);
				width: 100%;
				height: 1px;
				background-color: $gray-main;
				transition: all 0.3s ease-in-out;
			}
			&::before {
				transform: rotate(-35deg);
			}

			&:hover {
				&::after,
				&::before {
					background-color: $light-blue;
					height: 2px;
				}
			}
		}
	}

	@media screen and (max-width: 460px) {
		right: 0;

		.footerBtns {
			gap: 5px;

			.Morebtn,
			.Hidebtn {
				font-size: 2.3rem;
			}
		}
	}
}
.chatBtns {
	position: fixed;
	bottom: 2%;
	right: 2%;

	.hideShowBtn {
		position: absolute;
		right: -5px;
		top: -20px;
		line-height: 0;
		font-size: 2.2rem;
		padding: 5px;
		background-color: transparent;
		color: $gray-main;
		transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

		&:hover {
			color: $light-blue;
			transform: scale(1);
		}

		@media screen and (max-width: 800px) {
			font-size: 2rem;
		}
		@media screen and (max-width: 500px) {
			font-size: 1.8rem;
		}
	}

	.hideShowBtn.hiden {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		position: fixed;

		top: initial;
		bottom: 10%;
		right: 2%;
		background-color: $gray-main;
		color: $main-bg;
		border-radius: 3px;
		font-size: 1.2rem;
		font-weight: 800;
		text-transform: uppercase;

		line-height: 1.2rem;
		overflow-wrap: anywhere;
		transition: background-color 0.3s ease-in-out;
		@media screen and (max-width: 750px) {
			font-size: 1rem;
			width: 12px;
			right: 0;
		}
		@media screen and (max-width: 450px) {
			bottom: 60px;
		}

		&:hover {
			background-color: $light-blue;
		}
	}

	.mainBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		color: $light-blue;
		border-color: 1px solid $light-blue;

		transition: all 0.4s ease-in-out;
		padding: 0 !important;

		span {
			position: absolute;
			bottom: 100%;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.4rem;

			text-shadow: 0px 0px 10px $light-blue;
		}

		svg {
			font-size: 3.5rem;
		}
		&:hover {
			background-color: $light-blue;
			color: $main-bg;
			-webkit-animation: scale 1s ease-in-out infinite both;
			animation: scale 1s ease-in-out infinite both;

			span {
				color: $light-blue;
			}
		}

		@media screen and (max-width: 800px) {
			width: 60px;
			height: 60px;
			svg {
				font-size: 3rem;
			}
		}

		@media screen and (max-width: 500px) {
			width: 50px;
			height: 50px;
			svg {
				font-size: 2.5rem;
			}
		}
	}
}

@-webkit-keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
