@import "@Assets/styles/variables";

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $sidebar-bg;
	height: 100vh;
	min-width: 270px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: margin-left 0.8s ease-in-out, z-index 0.8s ease-in-out;
	z-index: 9;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: -15px;
		height: 100vh;
		width: 15px;
		background-color: $main-bg;
		z-index: 1;
	}

	.bottom {
		margin: 0 auto;
		padding: 10px 10px 50px;
	}

	.hideBtn {
		position: absolute;
		background-color: transparent;
		color: $light-blue;
		width: 50px;
		z-index: 13;
		right: -5px;
		top: 5px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;

		font-size: 2rem;
		opacity: 0.8;
		transition: all 0.7s ease-in-out, opacity 0.3s ease-in-out;

		.arrow {
			display: inline-block;
			line-height: 0;
			font-size: 3.5rem;
			-webkit-animation: run 1s ease-in-out infinite both;
			animation: run 1s ease-in-out infinite both;
		}
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	&.hiden {
		margin-left: -285px;
		z-index: 2;

		.hideBtn {
			right: -55px;
			transform: scaleX(-1);
		}
	}

	@media screen and (max-width: 1071px) {
		position: fixed;
		top: 0;
		left: 0;
	}
}

@-webkit-keyframes run {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes run {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}
