@import "@Assets/styles/variables";

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $sidebar-bg;
	height: 100vh;
	min-width: 270px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: all 1s ease-in-out;

	.bottom {
		margin: 0 auto;
		padding: 10px 10px 50px;
	}

	.hideBtn {
		position: absolute;
		background-color: transparent;
		color: $light-blue;
		width: 50px;
		z-index: 13;
		right: -5px;
		top: 5px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;

		font-size: 2rem;
		opacity: 0.8;
		transition: all 0.7s ease-in-out, opacity 0.3s ease-in-out;

		.arrow {
			display: inline-block;
			line-height: 0;
			font-size: 3.5rem;
			-webkit-animation: run 1s ease-in-out infinite both;
			animation: run 1s ease-in-out infinite both;
		}
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	&.hiden {
		margin-left: -270px;

		.hideBtn {
			right: -40px;
			transform: scaleX(-1);
		}
	}
	z-index: 9;
}

@-webkit-keyframes run {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes run {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}
