@import "@Assets/styles/variables";

.counts {
	width: 100%;
	display: flex;
	height: 20px;
	border: 1px solid $black-main;
	border-radius: 7px;
	overflow: hidden;
	cursor: help;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $statisticsColor;
		font-size: 1.4rem;
		font-weight: 700;
		@media screen and (max-width: 500px) {
			font-size: 1.3rem;
		}
	}

	.completed {
		background-color: $completed;
		height: 100%;
	}
	.watching {
		height: 100%;
		background-color: $watching;
	}
	.postponed {
		height: 100%;
		background-color: $postponed;
	}
	.dropped {
		height: 100%;
		background-color: $dropped;
	}
}
