@import "@Assets/styles/variables";

.wrapper {
	position: fixed;
	background-color: $modal-back;
	bottom: 0;
	left: 0;
	color: $light-blue;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	z-index: 10;
}
