@import "@Assets/styles/variables";

.categories {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: $main-bg;
	z-index: 1;
	gap: 10px;
	@media screen and (max-width: 500px) {
		li {
			button {
				font-size: 1.5rem;
			}
		}
	}
}
