.wrapper {
	height: 100%;
	width: 100%;
	.all {
		max-height: 100%;
		overflow: auto;
		display: grid;
		gap: 15px;
		grid-template-columns: repeat(auto-fill, 220px);
		margin: 25px 0;
	}
	.nothing {
		text-align: center;
		font-weight: 600;
		padding: 20px;
		letter-spacing: 1px;
		font-weight: 2.5rem;
	}
}
