@import "@Assets/styles/variables";

.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $main-bg;
	border-radius: 12px;
	padding: 10px 100px;
	margin: 0 20px;
	gap: 20px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	.info {
		a {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			transition: all 0.3s ease-in-out;
			color: $gray-main;
			&:hover {
				color: $light-blue;
				transform: scale(1.05);
				.image {
					border: 1px solid $light-blue;
				}
			}

			.name {
				font-weight: 600;
				letter-spacing: 2px;
			}
			.image {
				margin-right: 10px;
				width: 50px;
				height: 50px;
				overflow: hidden;
				border-radius: 100%;
				border: 1px solid $black-main;
				transition: all 0.3s ease-in-out;

				img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}
		}
	}
	.btns {
		display: flex;
		gap: 10px;

		button {
			display: flex;
			padding: 10px;
			justify-content: center;
			align-items: center;
			font-size: 2.5rem;
			// &:not(:last-child) {
			// 	margin-right: 10px;
			// }
		}
		p {
			font-weight: 800;
			font-size: 1.5rem;
			color: $light-blue;
			letter-spacing: 1px;
			text-align: right;
		}
	}

	@media screen and (max-width: 700px) {
		padding: 10px 20px;
		margin: 0 10px;
	}

	@media screen and (max-width: 400px) {
		padding: 10px;
		margin: 0 5px;
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		.info {
			a {
				font-size: 1.8rem;
				.name {
					letter-spacing: 1px;
				}
				.image {
					margin-right: 5px;
					width: 40px;
					height: 40px;
				}
			}
		}

		.btns {
			display: flex;
			gap: 5px;
			button {
				padding: 5px;
				font-size: 2.5rem;
			}
		}
	}
}
