@import "@Assets/styles/variables";

.wrapper {
	margin-bottom: 50px;
	.title {
		font-weight: 500;
		font-size: 2.5rem;
		text-align: center;
		color: $light-blue;
		margin-bottom: 20px;
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		li {
			flex: 0 0 calc(98% / 4);
			&:not(:last-child) {
				margin-bottom: 10px;
			}

			@media (max-width: 1400px) {
				flex-basis: calc(98% / 3);
			}
			@media (max-width: 1050px) {
				flex-basis: calc(98% / 2);
			}
			@media (max-width: 700px) {
				flex-basis: calc(98% / 1);
			}
		}
	}
}
