@import "@Assets/styles/variables";

.wrapper {
	// .users {
	// }
	.empty {
		text-align: center;
		color: $white-main;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 1px;
	}
	.btns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		margin: 10px;
	}
}
