@import "@Assets/styles/variables";

.wrapper {
	.users {
		margin: 0 20px;
	}
	.empty {
		text-align: center;
		color: $white-main;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 1px;
	}
	.btns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-top: 10px;
	}

	@media screen and (max-width: 450px) {
		.users {
			margin: 0 5px;
		}
		.btns {
			gap: 10px;
			button {
				font-size: 1.6rem;
				padding: 5px;
				min-height: 0;
			}
		}
	}
}
