$fontFamily: "Nunito", "Roboto";
$fontSize: 10px;

// Backgrounds
$body-bg: #203b4b;
$sidebar-bg: #1c3543;
$main-bg: #132a36;
$counters-bg: #1a435b;
$modal-back: rgba(0, 0, 0, 0.3);

// Text - ico
$white-main: #ffffff;
$black-main: #2c505e;
$gray-main: #97a2a9;
$light-blue: #7fdcde;
$not-valid: rgba(255, 49, 49, 0.661);

//Statistics bar
$completed: rgb(127, 221, 222);
$watching: rgb(141, 255, 1);
$dropped: rgb(179, 179, 179);
$postponed: rgb(251, 138, 0);
$statisticsColor: rgb(0, 0, 0);
